<!-- START NAV -->
<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html"><b>David Omar Design</b></a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
       <!-- <li><a href="about/index.html">About</a></li>
       <li><a href="blog/index.html">Blog</a></li> -->
    </ul>
    </div>  
</nav>
<!-- END NAV -->

<!-- START JUMBOTRON -->
<div class="jumbotron">     
  
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <h4>Artwork</h4>
        </div>
      </div>
    </div>
</div> 
<!-- END JUMBOTRON -->




  <!-- FILTER CONTAINER-->
<!--     <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-default text-center">
            <div class="panel-body">
              <div class="proj">
                <div id="filters">
                <a href="#" data-filter="*" class=" active btn btn-success">Show All</a>
                <a href="#" data-filter=".graphics" class="btn  btn-success">Graphics</a>
                <a href="#" data-filter=".web" class="btn  btn-success">Web</a>
                <a href="#" data-filter=".ui" class="btn  btn-success">UI</a>
                <a href="#" data-filter=".design" class="btn  btn-success">Design</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
<!-- END FILTER CONTAINER -->
            







