   <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">David Omar Design</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
       <li><a href="#">WHAT</a></li>
      <li><a href="#">WHAT</a></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Visit <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-right visible-lg" role="search">
      <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div><!-- /.navbar-collapse --> 
  </div>  
</nav>


    

<!--       <!-- Main hero unit for a primary marketing message or call to action -->
<div class="jumbotron">     
  
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <h1>MY STUFF!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
          
       
        </div>
      </div>
    </div>
</div> -->
  <!-- CONTENT CONTAINER-->
    <div class="container">
        <!-- FILTER-->
      <!-- just add your TAG to data-filter="ADD HERE" -->  
      <!-- and then add your same TAG to portfolio item class="ADD HERE" -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-default text-center">
            <div class="panel-body">
              <div class="proj">
                <div id="filters">
                <a href="#" data-filter="*" class=" active btn btn-success">Show All</a>
                <a href="#" data-filter=".graphics" class="btn  btn-success">Graphics</a>
                <a href="#" data-filter=".web" class="btn  btn-success">Web</a>
                <a href="#" data-filter=".ui" class="btn  btn-success">UI</a>
                <a href="#" data-filter=".design" class="btn  btn-success">Design</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            
    <!--END: FILTER-->
<!-- 
    <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 18 15" enable-background="new 0 0 18 15" xml:space="preserve">
          <path fill="#505050" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0
            h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#505050" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484
            h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#505050" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0
            c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
      </div>
    </nav>

  </div> -->

<!-- <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a href="index.php"><img src="/logo.png" id="logo" /></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="" id="menu-contact"><a href="#contactmodal" role="button" data-toggle="modal">LINK #1</a> </li>
          <li class="" id="menu-about"><a href="#myModal" role="button" data-toggle="modal">LINK #2</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</nav> -->

<!-- <div class="navbar navabar-fixed-top">
  <div class="container">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <div class="navbar-header"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class=" icon-chevron-down"></span> </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About us</a></li>
          <li><a href="contact.html">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
<!-- 
<header class="site-header">




</header> -->
